
.navbar {
    display: flex;
    padding: 24px 48px;
    color: rgb(26, 25, 25);
    background-color: rgb(43, 188, 255);
    border-radius: 20px; 
    
}
    
.navbar a {
    float: center;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
    
.navbar a:hover,.subnav:hover .subnavbtn {
    background-color: rgb(255, 255, 255);
}


    


@media screen and (max-width: 600px) {
    .navbar a  {
      float: none;
      width: 100%;
    }
}
